.st-home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-bg);
}
.st-home-top-bar {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1920px;
  height: 98px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #1e1c1c;
}
.st-home-text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
}
.st-home-text1 {
  top: 277px;
  left: 801px;
  position: absolute;
  font-size: 25px;
}
.st-home-navlink {
  top: 338px;
  left: 0px;
  right: 0px;
  width: 403px;
  height: 92px;
  margin: auto;
  position: absolute;
  box-shadow: 1px 1px 5px 0px #000000;
  text-align: center;
  text-decoration: none;
}
.st-home-navlink1 {
  top: 740px;
  left: 0px;
  right: 0px;
  width: 214px;
  height: 59px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px 0px;
  text-align: center;
  padding-right: 11px;
  text-decoration: none;
}
