.sv-student1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-bg);
}
.sv-student1-top-bar {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1921px;
  height: 98px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #1e1c1c;
}
.sv-student1-text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
}
.sv-student1-form {
  top: 223px;
  left: 447px;
  width: 462px;
  height: 493px;
  display: flex;
  position: absolute;
  box-shadow: 1px 1px 5px 0px #000000;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.sv-student1-text01 {
  top: 41px;
  right: 23px;
  position: absolute;
  font-size: 20px;
  line-height: 1.5;
}
.sv-student1-pasted-image {
  top: 34px;
  left: 45px;
  width: 102px;
  height: 99px;
  position: absolute;
}
.sv-student1-text08 {
  top: 159px;
  left: 166px;
  position: absolute;
  font-size: 20px;
  line-height: 1.5;
}
.sv-student1-text22 {
  top: 294px;
  left: 164px;
  position: absolute;
  font-size: 20px;
}
.sv-student1-form1 {
  top: 223px;
  left: 972px;
  width: 294px;
  height: 212px;
  display: flex;
  position: absolute;
  box-shadow: 1px 1px 5px 0px #000000;
  background-color: #ffffff;
}
.sv-student1-text37 {
  top: 24px;
  left: 19px;
  position: absolute;
}
.sv-student1-pasted-image1 {
  top: 11px;
  left: 190px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
}
.sv-student1-text38 {
  top: 92px;
  left: 17px;
  position: absolute;
}
.sv-student1-navlink {
  top: 533px;
  left: 972px;
  width: 294px;
  height: 66px;
  position: absolute;
  box-shadow: 1px 1px 5px 0px #000000;
  text-align: center;
  text-decoration: none;
}
.sv-student1-navlink1 {
  top: 222px;
  left: 322px;
  position: absolute;
  box-shadow: 1px 1px 5px 0px #000000;
  text-align: center;
  text-decoration: none;
}
